.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.turn > div {
  height: 400px;
}

.turn {
  padding-top: 20px;
  padding-bottom: 20px;
}

.authorImage {
  max-height: 100%;
  width: 90% ;
}

.answer {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
  margin-bottom: 20px;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #d0e3f0;
  cursor: pointer;
}

.answer:hover {
  background-color: #d0e3f0;
}

.continue {
  padding-top: 20px;
  padding-bottom: 20px;
}
